@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcd2ba;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('imgregistrazione.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    width: 40%;
    background-color: rgba(245, 225, 203, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    text-align: center;
}

form {
    margin-top: 20px;
}

input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #8b735b;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #8b735b;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5c3a21;
}



h1{
	color: #5c3a21;
}