 body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #dcd2ba;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url('imgregistrazione.webp');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        #container {
            width: 60%;
            height: 200px;
            background-color: rgba(245, 225, 203, 0.9);
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            opacity: 0;
            animation: fadeIn 1s ease-in-out forwards;
            text-align: center;
        }

        h2 {
           color: #5c3a21;
            font-size: 30px;
        }

        #menu {
            text-align: center;
            margin-top: 20px;
        }

        .menu {
            text-decoration: none;
            color: #5c3a21;
            font-weight: bold;
            font-size: 25px;
            margin: 0 20px;
        }

        .menu:hover {
            color: #8b735b;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }