body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcd2ba;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
    background-image: url('imgregistrazione.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-title {
    color: #5c3a21;
    text-align: center;
    z-index: 1;
}

.search-form,
.modify-form {
	padding-top: 100px;
    width: 75%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #8b735b;
    border-radius: 8px;
    background-color: rgba(245, 225, 203, 0.9);
    overflow-y: auto;
}


input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #8b735b;
    border-radius: 8px;
    margin-bottom: 10px;
}

select{
	height: 40px;
	width: 60%;
	adding: 10px;
    box-sizing: border-box;
    border: 1px solid #8b735b;
    border-radius: 8px;
    margin-bottom: 10px;
     font-size: 16px; 
    text-align-last: center; 
    
    background-color:  lightgreen ;
    
}

#menu {
            text-align: center;
            margin-top: 20px;
        }

        .menu {
            text-decoration: none;
            color: #8b735b;
            font-weight: bold;
            font-size: 33px;
            margin: 0 20px;
        }

        .menu:hover {
            color: white;
        }
        
        
        
        h2{
         color: #5c3a21;
        }
        
        h1{
        color: #5c3a21;
        }
        
.termin{
	
	background-color: #BC544B;
}    
        
.assegna{
	
	background-color: lightgreen ;
	width: 60%;
}
    