@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dcd2ba;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url('imgregistrazione.webp');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 60%;
    background-color: #f5e1cb;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.form-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #5c3a21;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #8b735b;
    border-radius: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #5c3a21;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

input[type="submit"]:hover {
    background-color: #8b735b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

